<!DOCTYPE html>
<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>
<script src="toggleFavourites.js"></script>

<style>
    .product {
        width: 200px;
        margin-bottom: 20px;
        border: 1px solid #ccc;
        padding: 10px;
    }

    .product img {
        max-width: 100%;
        height: auto;
    }
</style>

<script>
    var authToken = null;
    var countryPrefix = localStorage.getItem('urlPrefix');
    //get token from session
    authToken = sessionStorage.getItem('token');
    if (authToken == null || authToken == "") {
        window.location.href = '/B/' + countryPrefix + '/memberLogin.html';
    }
    fetch(new Request('/api/checkToken',
        {
            method: 'GET',
            headers: {
                Authorization: 'Bearer ' + authToken
            }
        })).then(function (response) {
            return response.json();
        }).then(function (data) {
            if (!data.success) {
                window.location.href = '/B/' + countryPrefix + '/memberLogin.html';
            }
        }).catch(function (error) {
            console.log(error);
        });

    document.addEventListener('DOMContentLoaded', function () {
        console.log(localStorage.favourites)

        var favourites = JSON.parse(localStorage.getItem('favourites')) || {}; 
        var favouritesList = document.getElementById('favouritesList');

        // Clear previous content
        favouritesList.innerHTML = '';

        // Check if favourites is an object before iterating
        if (typeof favourites === 'object' && favourites !== null) {
            for (var sku in favourites) {
                if (favourites.hasOwnProperty(sku)) {
                    var product = favourites[sku];
                    var productHTML = '<li class="product">' +
                        '<h3>' + product.name + '</h3>' +
                        '<img src="' + product.imgURL + '" alt="' + product.name + '">' +
                        '<p>Price: $' + product.price + '</p>' +
                        '</li>';
                    favouritesList.insertAdjacentHTML('beforeend', productHTML);
                }
            }
        } else {
            console.error('Favourites is not a valid JSON object.');
        }
    });

</script>

<body>
    <div class="body">
        <script src="menu2.js"></script>
    </div>
    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Favourites</h2>
                        <ul id="favouritesList" class="products"></ul>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p>

            </p>
        </div>
    </div>
    <script src="../footer.js"></script>
</body>

</html>