<!DOCTYPE html>
<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>

<body>
    <div class="body">
        <script src="menu2.js"></script>
    </div>
    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Favourites</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p>
            
            </p>
        </div>
    </div>
    <script src="../footer.js"></script>
</body>

</html>