<!DOCTYPE html>
<script src="../checkCountry.js"></script>
<html>
<script src="../../header.js"></script>

<body>
    <div class="body">
        <script src="menu2.js"></script>
    </div>
    <div role="main" class="main">
        <section class="page-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2>Services</h2>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
            <p>
            <div class="row">
                <a class="btn btn-primary" data-toggle="collapse" href="#services1desc" role="button"
                    aria-expanded="false" aria-controls="services1desc">Delivery</a>
                <div class="col">
                    <div class="collapse multi-collapse" id="services1desc">
                        <div class="card card-body">
                            <strong>You can take it home yourself, but you don't have to.</strong>
                            <br><br>
                            Flat-packed products are easy for you to transport. But you can also arrange delivery to
                            your home or your business. If you prefer to have your purchase delivered, we have a range
                            of delivery options for you when shopping at Island Furniture.
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" data-toggle="collapse" href="#services2desc" role="button"
                    aria-expanded="false" aria-controls="services2desc">Assembly</a>
                <div class="col">
                    <div class="collapse multi-collapse" id="services2desc">
                        <div class="card card-body">
                            <strong>You can build it yourself, but you don't have to.</strong>
                            <br><br>
                            Our assembly fee is 20% of the original product retail price for all other furniture that
                            requires assembly, and 10% of the original product retail price for sofa and sofa bed items.
                            This service is only available for truck deliveries and also includes the installation of
                            tip-over restraints for safety purposes.
                            <br><br>
                            However, the service does not include electrical and plumbing. Click here to see the details
                            of the service.

                            Please ensure there is ample space cleared for our assembly team to efficiently set up your
                            furniture. This will ensure a smooth and hassle-free installation process.
                        </div>
                    </div>
                </div>
                <a class="btn btn-primary" data-toggle="collapse" href="#services3desc" role="button"
                    aria-expanded="false" aria-controls="services3desc">Planning Guides & Tools</a>
                <div class="col">
                    <div class="collapse multi-collapse" id="services3desc">
                        <div class="card card-body">
                            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad
                            squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                            ea proident.
                        </div>
                    </div>
                </div>
            </div>
            </p>
        </div>
    </div>
</body>

</html>